*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  min-height: 100vh;
  background: #01022b;
}

.container
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.verticalLine
{
  position: relative;
  display: flex;

}

.verticalLine span {
  position: absolute;
  top: -20px;
  width: 6px;
  height: 250px;
  left: .4%;
  transform: rotate(-30deg);
  background: linear-gradient(to bottom, rgba(140, 195, 216, 1), rgba(1, 2, 43, 1));
}

.verticalLine span:nth-child(1) {
  left: 10%;
  transform: rotate(-25deg);
}


.verticalLine span:nth-child(2) {
  left: 20%;
  transform: rotate(-20deg);
}

.verticalLine span:nth-child(3) {
  left: 30%;
  transform: rotate(-15deg);
}

.verticalLine span:nth-child(4) {
  left: 40%;
  transform: rotate(-10deg);
}

.verticalLine span:nth-child(5) {
  left: 50%;
  transform: rotate(0deg);
}

.verticalLine span:nth-child(6) {
  left: 60%;
  transform: rotate(10deg);
}

.verticalLine span:nth-child(7) {
  left: 70%;
  transform: rotate(15deg);
}

.verticalLine span:nth-child(8) {
  left: 80%;
  transform: rotate(20deg);
}

.verticalLine span:nth-child(9) {
  left: 90%;
  transform: rotate(25deg);
}

.verticalLine span:nth-child(10) {
  left: 100%;
  transform: rotate(30deg);
}


.horizontalLine
{
  position: relative;
  display: flex;
}

.horizontalLine span
{
  position: relative;
  width: 100%;
  height: 6px;
  background: #8cc3d8;
  animation: horAnimate1 5s linear infinite;
}

@keyframes horAnimate1 {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 10; /* Fully visible at the start */
  }
  80% {
    transform: translateY(300px) scaleY(0);
    opacity: 0; /* Fully transparent at the end */
  }
}
